body {
  text-align: center;
}

form {
  display: inline-block;
}

.form-control {
  border-radius: 50px;
  min-width: 200px !important;
}

.climb-history {
  height: 90px !important;
}

/* requires this css on a container wrapped around, in order not to take on the css of another page*/

.signup-background {
  background-color: #2b3742;
  color: aliceblue;
  min-height: 100vh;
  min-width: 100%;
}

.signup-button {
  background-color: #295939 !important;
  border: none !important;
  margin-bottom: 55px !important;
}
