body {
    text-align: center;
}

form {
  display: inline-block;
}

.form-control {
  border-radius: 50px;
  min-width: 350px !important;
}

.climb-history {
    height: 90px !important;
}

/* requires this css on a container wrapped around, in order not to take on the css of another page*/

.signup-background {
    background-color: #d6d5d5;
    min-height: 100vh;
    min-width: 100%;
}