.App {
  text-align: center;
}

.home-buttons {
  margin: 5px;
  width: 150px !important;
  background-color: #295939 !important;
  border: none !important;
  margin-bottom: 55px;
}

.climb-title-map {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  z-index: 10;
}

.wrap-pagination {
  display: table;
  padding: 10px 20px;
  width: 90%;
}

.pagination {
  margin-top: 15px;
  display: table;
  list-style-position: inside;
}

.page-item {
  margin: 0 4px 4px 0;
  display: inline-block;
  width: 70px;
  height: 50px;
  list-style: none;
}
<<<<<<< HEAD
.page-item:nth-child(7) {
  margin-right: 0px;
}
=======

.page-item:nth-child(7) {
  margin-right: 0px;
}

.logout-button {
  margin: 5px;
  width: 195px;
  border: none !important;
  margin-bottom: 35px;
  height: 47px;
}
>>>>>>> b7d56b5bd1183878f58942aaf23ce2ba15586481
