.profile-q-background {
    background-color: #32343d;
    color: black;
    min-width: 100%;
    min-height: 100vh;
}

/* .radio-inline {
    padding-left: 10px;
} */

form {
    background-color: aliceblue;
}

/* .tell-us-more {
    color: aliceblue ;
} */