.profile-q-background {
    background-color: #2b3742;
    color: black;
    min-width: 100%;
    min-height: 100vh;
}

/* .radio-inline {
    padding-left: 10px;
} */

.questions-form {
    background-color: aliceblue;
    border-radius: 10px 10px 10px 10px;
    padding-left: 6px;
    display: flex;
    justify-content: center;
}

.tell-us-more {
    color: aliceblue;
}

.labels {
    font-size: 1.4em;
}

Form {}