/* #home-jumbo {
  /* background-image: url("../../images/dark-grey-terrazzo.png"); */

/* color: white;
  min-width: 180%;
  min-height: 170vh; */

/* background-repeat: no-repeat;
  background-size: cover; */

/* background-color: #212931;
} */

/* #home-img {
  margin-top: 40px;
  height: 800px;
  width: 800px;
}

#home-p {
  margin: 20px;
  font-size: x-large;
  font-weight: 800;
  text-align: center;
}

.home-buttons {
  margin: 25px;
  width: 200px !important;
  height: 50px;
  background-color: #295939 !important;
  border: none !important;
  margin-bottom: 55px;
  font-size: x-large;
} */

/* 
.logo {
  height: 55px;
} */

.home-page-background {
  background-color: #2b3742;
  min-width: 100%;
  min-height: 100vh;
}

.homepage-pic {
  height: 60%;
}

#home-p {
  color: aliceblue;
  font-weight: 600;
  padding-top: 25px;
  font-size: 16px;
}