#home-jumbo {
  background-image: url("../../images/dark-grey-terrazzo.png");
  color: white;
  min-width: 100%;
  min-height: 100vh;
}

#home-img {
  margin-top: 25px;
  height: 300px;
  width: 300px;
}

#home-p {
  margin: 20px;
}

.home-buttons {
  margin: 5px;
  width: 150px;
}

.logo {
  height: 55px;
}
