.sky {
  background-image: linear-gradient(rgb(3, 3, 95), rgb(62, 62, 143), rgb(167, 230, 230));
  min-height: 100vh;
    min-width: 100%;
}

.userImg {
  display: flex;
  justify-content: center;
  margin: auto;
}

.photo {
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

h1,
h4,
h5 {
  color: white;
  text-align: center;
}

.list-group-item {
    background-color: inherit !important;
    color: white !important;
    text-align: left;
    margin-top: 4px;
}

.list {
    margin-top: 10px;
}