.title {
  text-transform: uppercase;
  font-size: 2rem;
  color: #c2c5d1;
  position: relative;
  padding-bottom: 4rem;
  letter-spacing: 3px;
  padding-top: 40px;
}

/* requires this css on a container wrapped around, in order not to take on the css of another page*/
.map-background {
  background-color: darkslategray;
  min-height: 100vh;
  min-width: 100%;
}
